:host {
    ion-content {
        --background: linear-gradient(-135deg, var(--ion-color-medium), var(--ion-color-light))
    }
}

.carrito_vacio {
    position: relative;
    top: 30%;
    font-size: 20px;
}

.icon-5x {
    font-size: 100px;
}

.imagen {
    font-size: 100px;
}

.carrito-numero {
    position: absolute;
    top: -5px;
    left: 18px;
}