<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Soporte</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="animated fadeIn">

    <div class="bg-profile" text-center>
        <img src="assets/img/support-app.jpg">
    </div>

    <ion-card class="bg-white" no-margin>
        <ion-card-content>

            <ion-list>
                <ion-item href="tel:5717460020">
                    <ion-icon name="call" slot="start" color="primary"></ion-icon>
                    <ion-label>
                        <p>
                            <ion-text color="primary">Soporte general </ion-text>
                        </p>
                        <h2>
                            <ion-text color="dark">+57 (1) 7460020</ion-text>
                        </h2>
                    </ion-label>
                </ion-item>
                <ion-item href="tel:5717460020">
                    <ion-icon name="call" slot="start" color="primary"></ion-icon>
                    <ion-label>
                        <p>
                            <ion-text color="primary">Para Ventas y soporte</ion-text>
                        </p>
                        <h2>
                            <ion-text color="dark">+57 (1) 7460020</ion-text>
                        </h2>
                    </ion-label>
                </ion-item>
                <ion-item href="mailto:soporte@netsolin.com">
                    <ion-icon name="mail" slot="start" color="primary"></ion-icon>
                    <ion-label>
                        <p>
                            <ion-text color="primary">Email</ion-text>
                        </p>
                        <h2>
                            <ion-text color="dark">soporte@netsolin.com</ion-text>
                        </h2>
                    </ion-label>
                </ion-item>
            </ion-list>

        </ion-card-content>
    </ion-card>

</ion-content>