<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <!-- <ion-title>{{ 'app.pages.visitalist.title.header' | translate }}</ion-title> -->
        <ion-title>Lista Visitas</ion-title>
    </ion-toolbar>

    <ion-toolbar color="dark">
        <ion-title>
            <h6 no-margin>({{ visitas?.length || '0' }}) {{ 'app.label.resultsf' | translate }}</h6>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="animated fadeIn">

    <div padding>

        <ion-segment [(ngModel)]="visitaLists" (ionChange)="segmentChanged($event)" color="tertiary" margin-bottom>
            <!-- <ion-segment-button value="cardlist">
                <ion-icon name="apps"></ion-icon>
            </ion-segment-button> -->
            <ion-segment-button value="linelist">
                <ion-icon name="list"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="maplist">
                <ion-icon name="map"></ion-icon>
            </ion-segment-button>
        </ion-segment>

        <div [ngSwitch]="visitaLists">
            <!-- <div *ngSwitchCase="'cardlist'" [@staggerIn]='visitas?.length'>
        <ion-card no-margin margin-bottom class="visitasCard" tappable routerLink="/visita-detail/{{visita.id}}" *ngFor="let visita of visitas; let i = index">
          <ion-img [src]="visita.thumb"></ion-img>
        
          <ion-card-subtitle>
            <ion-badge color="warning">
              <ion-icon name="star"></ion-icon> {{ visita.rating }}
            </ion-badge>
          </ion-card-subtitle>
          <ion-card-title color="light">{{ visita.name }}</ion-card-title>
          <div class="shadow"></div>
          <ion-card-content>
            <ion-badge slot="start" color="dark" class="rooms">
              <ion-icon name="book" color="secondary"></ion-icon>
              {{ visita.numb_available_rooms }} {{ 'app.label.availrooms' | translate }}
            </ion-badge>
        
            <ion-badge slot="end" color="success" class="price">
              <h3><strong>{{ visita.price | currency:'$':'code' }}</strong></h3>
            </ion-badge>
          </ion-card-content>
        </ion-card>
      </div> -->
            <div *ngSwitchCase="'linelist'" [@staggerIn]='visitas.length'>
                <!-- # -->
                <ion-item tappable routerLink="/visita-detail/{{visita.id}}" *ngFor="let visita of visitas">
                    <ion-label>
                        <h2 [ngClass]="{'fw700 text-white': !true}">
                            <div class="fechavisita">
                                <ion-icon name="calendar" slot="start" color="secondary" *ngIf="true"></ion-icon>
                                <ion-icon name="mail-open" slot="start" color="primary" *ngIf="!true"></ion-icon>
                                <!-- <ion-text color="primary">{{visita.fecha_in.toDate() | date: 'shortDate'}}</ion-text> -->
                                <ion-text color="primary">{{visita.data.fecha_in}}</ion-text>
                            </div>
                            <div class="horavisita">
                                <ion-icon name="time" slot="end" color="tertiary" *ngIf="true"></ion-icon>
                                <ion-text color="primary"> {{ visita.data.hora_in }}</ion-text>
                            </div>
                        </h2>
                        <hr>
                        <h2 class="clientevisita">
                            <ion-text color="dark"> {{visita.data.nombre}}</ion-text>
                        </h2>
                        <h3>
                            <div class="direcvisita">
                                <ion-icon name="pin" slot="start" class="direcvisita"></ion-icon>
                                <ion-text color="dark"> {{visita.data.direccion}} </ion-text>
                            </div>
                        </h3>
                        <h4 class="notavisita">
                            <p [ngClass]="{'text-light': !true}">
                                <ion-text color="dark">{{ visita.data.notas }}</ion-text>
                            </p>
                        </h4>
                    </ion-label>
                </ion-item>


                <!-- <ion-item color="primary" tappable routerLink="/visita-detail/{{visita.id}}" margin-bottom *ngFor="let visita of visitas; let i = index">
          <ion-thumbnail slot="start">
            <img [src]="visita.thumb">
          </ion-thumbnail>
          <ion-label>
            <h2><strong>{{ visita.name }}</strong></h2>
            <h3>
              <ion-badge slot="start" color="secondary" class="rooms">
                <ion-icon name="book" color="tertiary"></ion-icon>
                {{ visita.numb_available_rooms }} {{ 'app.label.availrooms' | translate }}
              </ion-badge>
            </h3>
            <ion-badge color="warning">
              <ion-icon name="star"></ion-icon> {{ visita.rating }}
            </ion-badge>
          </ion-label>
        </ion-item> -->
            </div>
            <div *ngSwitchCase="'maplist'">
                <!-- <agm-map [latitude]="visitas[0].location.lat" [longitude]="visitas[0].location.lon" [zoom]="10" [zoomControl]="false" [styles]="agmStyles"
          [streetViewControl]="false">
          <agm-marker *ngFor="let visita of visitas" [latitude]="visita.location.lat" [longitude]="visita.location.lon">
            <agm-info-window>
              <ion-item tappable routerLink="/visita-detail/{{visita.id}}">
                <ion-thumbnail slot="start">
                  <img [src]="visita.thumb">
                </ion-thumbnail>
                <ion-label>
                  <ion-text color="primary">
                    <h2><strong>{{ visita.name }}</strong></h2>
                  </ion-text>
                  
                  <h3>
                    <ion-badge slot="start" color="secondary" class="rooms">
                      <ion-icon name="book" color="tertiary"></ion-icon>
                      {{ visita.numb_available_rooms }} {{ 'app.label.availrooms' | translate }}
                    </ion-badge>
                  </h3>
                  <ion-badge color="warning">
                    <ion-icon name="star"></ion-icon> {{ visita.rating }}
                  </ion-badge>
                </ion-label>
              </ion-item>
            </agm-info-window>
          </agm-marker>
        </agm-map> -->
            </div>
        </div>
        <!-- # -->
    </div>

</ion-content>