<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{ 'app.pages.about.title.header' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="animated fadeIn">

    <div class="bg-profile" text-center padding>
        <img src="assets/img/netsolin-logo3.png">
    </div>

    <ion-card class="bg-white" no-margin>
        <ion-card-content>
            <h1 margin-bottom>
                <ion-text color="primary"><strong>Netsolin App</strong></ion-text>
            </h1>

            <p margin-bottom>
                Lleve sus operaciones a el cliente final!
            </p>

            <p>
                Permite el seguimiento a una ruta programada y en el cliente registrar ventas y recaudar cartera. Registre actividades.
            </p>
            <p>
                Elaborada por Sistemas Integrales de Colombia SAS. wwww.netsolin.com
            </p>

        </ion-card-content>
    </ion-card>

</ion-content>