<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title><strong>{{prodshop.cod_refinv}}</strong></ion-title>
    </ion-toolbar>
</ion-header>


<ion-content class="animated fadeIn">
    <div class="bg-profile" text-center>
        <!-- <img [src]="assets/img/DUCHA.jpg"> -->
        <img src="assets/img/DUCHA.jpg">
    </div>

    <ion-card no-margin class="animated fadeIn">
        <ion-card-content class="bg-white">
            <h3>
                <ion-text color="bg-white">
                    {{ prodshop.nombre }}
                </ion-text>
            </h3>
        </ion-card-content>
        <ion-item class="bg-white">
            <ion-label>
                Existencias:
            </ion-label>
            <ion-badge slot="end" color="warning">
                {{ prodshop.existencia }}
            </ion-badge>
            <ion-badge slot="end" color="success">
                {{ prodshop.existencia - cantidad_sol }}
            </ion-badge>

        </ion-item>
        <ion-item class="bg-white">
            <ion-text color="success">
                {{ prodshop.precio_ven | currency }}
            </ion-text>
            <ion-text color="success" slot="end">
                Total: {{ total_t | currency }}
            </ion-text>
        </ion-item>

        <!-- <ion-item class="bg-white">
            <ion-label>
                Precio Unitario:
            </ion-label>
            <ion-badge slot="end" color="success">
                {{ prodshop.precio_ven | currency }}
            </ion-badge>
        </ion-item>
        <ion-item color="bg-white">
            <ion-label>
                Cantidad:
            </ion-label>
            <ion-input class="talla_input" text-center (ionChange)="total()" [(ngModel)]="cantidad_sol" type="number" min="1" max="1000" step="1" placeholder="Cantidad" clearOnEdit="true">
            </ion-input>
        </ion-item>
        <ion-item color="bg-white">
            <ion-label>
                Total:
            </ion-label>
            <ion-badge slot="end" color="success">
                {{ total_t | currency }}
            </ion-badge>
        </ion-item>

        <ion-button shape="round" expand="full" color="dark" (click)="checkout(prodshop.id, prod.id)">
            <ion-icon slot="start" name="car"></ion-icon>
            Agregar a Factura {{ prodshop.precio_ven * cantidad_sol | currency }}
        </ion-button> -->

    </ion-card>
    <ion-footer>
        <ion-toolbar>
            <ion-input slot="start" (ionChange)="total()" [(ngModel)]="cantidad_sol" type="number" min="1" max="1000" step="1" placeholder="Cantidad" clearOnEdit="true">
            </ion-input>
            <ion-button slot="end" shape="round" color="success" (click)="addfactura(prodshop, cantidad_sol)">
                Agregar
            </ion-button>

        </ion-toolbar>
    </ion-footer>
    <!-- <ion-card class="bg-white" *ngFor="let prod of prodshop.prods">
        <ion-img [src]="prod.thumb"></ion-img>

        <ion-card-content>

            <ion-card-subtitle>
                <ion-text color="secondary">{{ 'app.label.daily' | translate }} {{ prod.price | currency }}</ion-text>
            </ion-card-subtitle>

            <ion-card-title>
                <ion-text color="primary">{{prod.name}}</ion-text>
            </ion-card-title>

            <p>
                <ion-text color="primary">
                    <ion-icon name="person" color="dark"></ion-icon>
                    <span margin-right>{{ prod.passengers }} {{ 'app.label.passengers' | translate }}</span>
                </ion-text>
            </p>
            <p>
                <ion-text color="primary">
                    <ion-icon name="car" color="dark"></ion-icon>
                    {{ prod.doors }} {{ 'app.label.doors' | translate }}
                </ion-text>
            </p>
            <p>
                <ion-text color="primary">
                    <ion-icon name="checkmark" color="success"></ion-icon>
                    <span ion-text color="dark" *ngIf="prod.automatic_transmission">{{ 'app.pages.cardetail.label.autotransmission' | translate }}</span>
                    <span ion-text color="dark" *ngIf="!prod.automatic_transmission">{{ 'app.pages.cardetail.label.manualtransmission' | translate }}</span>
                </ion-text>
            </p>
            <ion-button shape="round" expand="full" color="dark" (click)="checkout(prodshop.id, prod.id)">
                <ion-icon slot="start" name="car"></ion-icon>
                {{ 'app.label.reserve' | translate }} ({{ prod.price * 3 | currency }})
            </ion-button>
        </ion-card-content>

    </ion-card> -->

</ion-content>